[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==6.2.5"
requests = "==2.26.0"
loguru = "*"
pytest-rerunfailures = "*"
faker = "*"
yagmail = "*"
selenium = "*"
pyautogui = "*"
pywinauto = "*"
allure-pytest = "*"
webdriver-manager = "*"
requests-toolbelt = "*"
pytest-bdd = "*"
sttable = "*"

[dev-packages]

[requires]
python_version = "3.9"
